@import "../../App.scss";

.Header {
   top: 0;
   .Header--logo {
      font-weight: 600;
   }
   .Header--button {
      @include custom-button(rgba(244, 244, 244, 0.7));
   }
   .Header--link {
      font-weight: 500;
   }
   img {
      width: 26px;
      height: 26px;
      margin-right: 10px;
   }
}
