.Header {
   backdrop-filter: saturate(30%) blur(4px);
   background: rgba(244, 244, 244, 0.7);
   position: sticky;
   top: 0;
   .Header--logo {
      font-weight: 600;
   }
   .Header--button {
      font-weight: 600;
      border-width: 2px;
      background-color: rgba(244, 244, 244, 0.7);
   }
   .Header--link {
      font-weight: 500;
   }
   img {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      /*  */
   }
}
